body {
  margin: 1 rem;
}

.intro {
  margin: 1 rem;
  font-size: 60px;
  color: black;
}

.c1 {
  color: #ffffff;
  font-size: 30px;
}

#crow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
